:root {
  --color-optimus: #3c46a0;
  --color-optimus-evil: #2b3377;
  --color-unitron: #cfd3f8;
  --color-bumblebee: #ffdb43;
  --color-bumblebee-evil: #f8ce20;
  --color-megatron: #000000;
  --color-starscream: #ffffff;
  --color-jetfire: #fcefbb;
  --color-soundwave: #f0f0f0;
  --color-ironhide: #262840;

  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 16px;
  --spacing-04: 24px;
  --spacing-05: 32px;
  --spacing-06: 48px;
  --spacing-07: 64px;
  --spacing-08: 80px;
  --spacing-09: 96px;

  --base-border-radius: 32px;
}
