<section class="c-sticky-footer">
    <div class="o-region__inner c-sticky-footer__inner">
        {% include '../a11y-text/a11y-text.njk' %}
        {% include '../theme-switcher/theme-switcher.njk' %}
    </div>
</section>
