dist
.gitkeep
.DS_Store
.env*
*.png
*.svg
*.log
*.handlebars
*.eot
*.woff
*.otf
*.ttf
*.woff2
*.ejs
*.snap
*.webm
*.jpg
.editorconfig
.github/
.gitignore
.nvmrc
*.njk
*.json
src/site/**/*.njk
.htaccess
robots.txt
.eleventyignore
.stylelintignore
.stylelintrc
netlify.toml
.prettierignore
.eslintignore
.yarn/
.yarnrc
yarn.lock
build/
favicon.ico
