/* Extended heading styles */

:root {
    --heading-h3-size: 1.4em;
    --heading-h2-size: 2em;
    --heading-h5-size: 1.2em;
    --heading-line-height: 1.4;
}

@media (--md-viewport) {
    :root {
        --heading-h3-size: 1.6em;
        --heading-h2-size: 2.4em;
        --heading-h5-size: 1.2em;
    }
}

.e-heading--highlighted {
    background-color: var(--secondary);
    border-radius: 3px;
    display: inline-block;
    padding: 0.7rem 1rem;
}
