:root {
    --button-bg: var(--cta);
    --button-border: 2px solid var(--cta);
    --button-color: var(--white);
    --button-hover-bg: var(--cta-hover);
    --button-hover-border: 2px solid var(--cta-hover);
    --button-hover-color: var(--white);
}
