.c-header__navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.c-header__toggle-container {
  height: 44px;
  position: relative;
  width: 44px;
}

.c-header__toggle-mode-btn {
  appearance: none;
  border: 0;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-header__toggle-mode-btn-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
