/* Regions */

:root {
    --region-bg: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --region-text-color: var(--white);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --region-text-color: var(--base-font-size);
    }
}

.o-region__inner--thin {
    max-width: 1024px;
}
