/* Regions */

:root {
    --region-bg: transparent;
}

@media (prefers-color-scheme: dark) {
    :root,
    .dark-mode {
        --region-text-color: var(--white);
    }

    .light-mode {
        --region-text-color: var(--primary);
    }
}

@media (prefers-color-scheme: light) {
    :root,
    .light-mode {
        --region-text-color: var(--primary);
    }

    .dark-mode {
        --region-text-color: var(--white);
    }
}

.o-region__inner--thin {
    max-width: 1024px;
}
