.o-region {
  --region-color: inherit;
  --region-background: white;
  --region-horizontal-spacing: clamp(var(--spacing-03), 3 / 70 * 100vw, var(--spacing-06));
  --region-vertical-spacing-01: clamp(var(--spacing-04), 10 / 70 * 100vw, calc(var(--spacing-07) * 2));
  --region-vertical-spacing-02: clamp(var(--spacing-05), 10 / 70 * 100vw, calc(var(--spacing-08) * 2));
  --region-vertical-spacing-03: clamp(var(--spacing-06), 10 / 70 * 100vw, calc(var(--spacing-09) * 2));

  background-color: var(--region-background);
  color: var(--region-color);
  width: 100%;
}

.o-region__inner {
  --region-max-width: 70em;

  margin: 0 auto;
  max-width: var(--region-max-width);
  padding: 0 var(--region-horizontal-spacing);
}

.o-region__inner--thin {
  --region-max-width: 48em;
}
