/* Header Component */

.c-header {
    background: var(--white);
    border-bottom: 1px solid var(--keyline);
    color: var(--black);
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

@media (--md-max-viewport) {
    .c-header {
        padding-top: var(--region-gutter-horizontal);
    }
}

.c-header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--region-gutter-horizontal);
}

@media (--md-max-viewport) {
    .c-header__inner {
        padding-bottom: var(--region-gutter-horizontal);
    }
}

.c-header__menu-button {
    color: var(--black);
    display: block;
    height: 44px;
    padding: 8px;
    width: 44px;
}

@media (--md-viewport) {
    .c-header__menu-button {
        display: none;
    }
}