/* A11y Text Component */

.c-a11y-text {
    align-items: center;
    display: flex;
}

.c-a11y-text__title {
    margin-bottom: 0;
    margin-right: 20px;
}

.c-a11y-text__button {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
    margin: 0 5px;
    height: 2rem;
    line-height: 1;
    width: 2rem;
    padding: 0;
}

.c-a11y-text__button:hover,
.c-a11y-text__button:focus {
    border-color: var(--secondary);
}

.c-a11y-text__button--selected {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.c-a11y-text__button--selected:hover,
.c-a11y-text__button--selected:focus {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
}