/* Blog Grid */

.c-blog-grid {
    background: linear-gradient(0deg,var(--primary),var(--primary-light));
}

@media (--md-viewport) {
    .c-blog-grid {
        --region-gutter-vertical: 160px;
    }
}

.c-blog-grid__header {
    margin: 0 0 40px;
    max-width: 640px;
    width: 100%;
}

.c-blog-grid__header .e-heading::selection,
.c-blog-grid__header p::selection {
    background-color: var(--secondary-light);
}

.c-blog-grid__header .e-heading::-moz-selection,
.c-blog-grid__header p::-moz-selection {
    background-color: var(--secondary-light);
}

.c-blog-card {
    color: var(--white);
    position: relative;
}

@media (--md-max-viewport) {
    .c-blog-card {
        border-bottom: 1px solid var(--secondary);
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .c-blog-card .e-link {
        color: var(--white);
    }
}

@media (--sm-viewport) {
    .c-blog-card {
        align-items: center;
        border-radius: 8px;
        background: var(--white);
        color: var(--primary);
        display: flex;
    }
}

.c-blog-card__content {
    max-width: 80ch;
}

@media (--sm-viewport) {
    .c-blog-card__content {
        padding: 30px;
    }
}

.c-blog-card__image-content {
    display: none;
    flex-shrink: 0;
    width: 20%;
}

@media (--sm-viewport) {
    .c-blog-card__image-content {
        display: block;
        width: 45%;
    }
}


@media (--lg-viewport) {
    .c-blog-card__image-content {
        width: 20%;
    }
}

.c-blog-card__image-placeholder {
    background: var(--keyline);
}

.c-blog-card__link::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
