/* Banner Component */


.c-banner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    text-shadow: 0 2px 20px rgba(0,0,0,.16);
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    z-index: 0;
}

.c-banner__title {
    position: relative;
}

@media (--sm-max-viewport) {
    .c-banner__title {
        font-size: var(--heading-h4-size);
        font-weight: var(--heading-h4-weight);
    }
}

.c-banner__sub-title {
    left: 0;
    position: absolute;
    top: 0;
}

.c-banner__wave {
    fill: var(--secondary-light);
    top: 100%;
    left: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
}

.c-banner__text {
    max-width: 70ch;
}
