<section class="o-region">
    <div class="o-region__inner">
        <div class="o-grid u-flex--align-items u-text--center">
        <div class="o-grid__item o-grid__item--12/12">
            <h2 class="e-heading e-heading--h2">
                {{company.companyTitle}}
            </h2>
        </div>
        {% for comp in company.companies %}
            <div class="o-grid__item o-grid__item--6/12 o-grid__item--4/12@sm">
                {% include '../comp-logos/comp-logos.njk' %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>
