/*--------------------
    Colours
--------------------*/
* {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-keyline: #dddddd;
  --color-pastal-pink: #fee8f5;
  --color-pastal-green: #eaf5fb;
  --color-pastal-blue: #e8eefe;
  --color-pastal-purple: #f4e8fe;
  --color-pastal-grey: #f6f0fc;
  --color-body-copy: #242a3a;
}

@media (prefers-color-scheme: dark) {
  .dark-mode {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-keyline: #dddddd;
    --color-pastal-pink: #fee8f5;
    --color-pastal-green: #eaf5fb;
    --color-pastal-blue: #e8eefe;
    --color-pastal-purple: #f4e8fe;
    --color-pastal-grey: #f6f0fc;
    --color-body-copy: #242a3a;
  }
}
