<header class="o-region c-header">
  <nav class="o-region__inner c-header__inner">
    <ul class="c-header__navigation">
      <li>
        <a class="e-logo" href="/">mattc.</a>
      </li>
      <li class="c-header__toggle-container">
        <button class="c-header__toggle-mode-btn c-header__toggle-mode-btn--light" data-toggle-theme="light-mode">
          <span class="c-header__toggle-mode-btn-text">View website in light mode</span>
          {% include '../svg/sun.njk' %}
        </button>
        <button class="c-header__toggle-mode-btn c-header__toggle-mode-btn--dark" data-toggle-theme="dark-mode">
          <span class="c-header__toggle-mode-btn-text">View website in dark mode</span>
          {% include '../svg/moon.njk' %}
        </button>
      </li>
    </ul>
  </nav>
</header>
