
<section class="o-region">
    <div class="o-region__inner">
        <div class="o-grid">
            <div class="o-grid__item o-grid__item--12/12 o-grid__item--9/12@md">
                <h2 class="e-heading e-heading--h3">✍🏻 Latest Blog Posts</h2>
                <p class="e-text u-text--larger u-text--super@md">
                    I blog on Medium about all the things I learn and I feel that it is so important to share the knowlegde with the world about the things I am passionate about.
                </p>
            </div>
        </div>
        <ol reversed class="c-post-list o-grid">
            {% for post in blog.latestPosts %}
                <li class="c-post-list__item o-grid__item o-grid__item--12/12 o-grid__item--4/12@md">
                    <a href="/blog/{{ post.title | slug }}" class="c-post-list__link"><span class="u-visually-hidden">Read more about {% if post.title %}{{ post.title }}{% else %}<code>{{ post.link }}</code>{% endif %}</span></a>
                    <div class="c-post-list__item-container">
                        <picture class="e-picture u-margin--bottom">
                            <img src="{{ post.thumbnail }}" loading="lazy" alt="Thumbnail image for {{ post-title }} blog post" />
                        </picture>
                        <h3 class="e-heading e-heading--h5">{{ post.title }}</h3>
                        <p class="c-post-list__date"><time datetime="{{ post.pubDate | htmlDateString }}" class="u-text--smaller">{{ post.pubDate | readableDate }}</time></p>
                        <div class="c-post-list__short-description">{{ post.shortDescription | safe }}</div>
                        <span class="e-link" aria-hidden="true">Read more</span>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>
