/* Link Styles */

.e-link,
.e-link:active, 
.e-link:visited, 
a:not([class]),
a:not([class]):active, 
a:not([class]):visited {
    color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

.e-link--naked {
    color: inherit;
    text-decoration: none;
}
