.e-logo,
.e-logo:focus,
.e-logo:hover {
  color: var(--color-body-copy);
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}

.e-logo:focus,
.e-logo:hover {
  text-decoration: underline;
}
