.region {
  --region-color: inherit;
  --region-background: var(--color-starscream);
  --region-max-width: 70em;
  --region-horizontal-spacing: var(--spacing-03);
  --region-vertical-spacing-01: var(--spacing-04);
  --region-vertical-spacing-02: var(--spacing-05);
  --region-vertical-spacing-03: var(--spacing-06);

  background-color: var(--region-background);
  color: var(--region-color);
  width: 100%;
}

.regionIronHide {
  --region-color: var(--color-starscream);
  --region-background: var(--color-ironhide);
}

.regionUnitron {
  --region-color: var(--color-ironhide);
  --region-background: var(--color-unitron);
}

@media (min-width: 30.0625em) {
  .region {
    --region-horizontal-spacing: var(--spacing-04);
    --region-vertical-spacing-01: var(--spacing-05);
    --region-vertical-spacing-02: var(--spacing-06);
    --region-vertical-spacing-03: var(--spacing-07);
  }
}

@media (min-width: 48.0625em) {
  .region {
    --region-horizontal-spacing: var(--spacing-06);
    --region-vertical-spacing-01: var(--spacing-06);
    --region-vertical-spacing-02: var(--spacing-07);
    --region-vertical-spacing-03: var(--spacing-08);
  }
}

@media (min-width: 70em) {
  .region {
    --region-horizontal-spacing: var(--spacing-01);
    --region-vertical-spacing-01: calc(var(--spacing-07) * 2);
    --region-vertical-spacing-02: calc(var(--spacing-08) * 2);
    --region-vertical-spacing-03: calc(var(--spacing-09) * 2);
  }
}

.region.regionVerticalSpacing01 {
  padding: var(--region-vertical-spacing-01) 0;
}

.region.regionVerticalSpacing02 {
  padding: var(--region-vertical-spacing-02) 0;
}

.region.regionVerticalSpacing03 {
  padding: var(--region-vertical-spacing-03) 0;
}

.regionInner {
  margin: 0 auto;
  max-width: var(--region-max-width);
  padding: 0 var(--region-horizontal-spacing);
}
