<section class="o-region c-banner" style="--region-bg:var(--banner-bg);--region-text-color:var(--banner-text)">
    <div class="o-region__inner">
        <h1 class="e-heading e-heading--h1 c-banner__title">{{banner.bannerTitle}}</h1>
        <p class="e-text c-banner__text u-text--larger@md">
            {{ banner.bannerDesc | safe }}
        </p>
        <a class="c-button c-button--primary c-button--large" href="mailto:mattclaffey93@gmail.com?Subject=Website%20Enquiry" target="_top">Contact Me</a>
    </div>
</section>
