<section class="o-region c-about-me" id="section--about">
    <div class="o-region__inner">
        <div class="o-grid">
        <div class="o-grid__item o-grid__item--12/12 o-grid__item--9/12@md">
            <h2 class="e-heading e-heading--h3 c-about-me__main-heading">
            {{about.title}}
            </h2>
            <p class="e-text u-text--larger u-text--super@md">
            {{about.desc}}
            </p>
            {% for section in about.sections %}
                <hr class="e-divider" />
                <h2 class="e-heading e-heading--h4 c-about-me__main-heading">
                    {{section.title}}
                </h2>
                {% if section.desc %}
                    <p class="e-text u-text--larger@md">
                        {{section.desc | safe}}
                    </p>
                {% endif %}
                {% if section.subTitle %}
                    <h3 class="e-heading e-heading--h5 c-about-me__main-heading">
                        {{section.subTitle}}
                    </h3>
                {% endif %}
                <ul class="e-list u-text--larger@md">
                    {% for listItem in section.list %}
                        <li class="e-list__item">
                            {% if listItem.url %}
                                <a
                                    href="{{listItem.url.href}}"
                                    {% if listItem.url.target %}
                                        target="_blank"
                                        rel="noopener"
                                    {% endif %}
                                >
                                    <b>{{listItem.title}}</b>
                                </a>
                            {% else %}
                                <b>{{listItem.title}}</b>
                            {% endif %}
                            - {{listItem.desc}}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        </div>
    </div>
</section>
