<header class="c-header" data-menu>
    <div class="o-region__inner c-header__inner">
        <a class="e-link--naked u-text--larger u-margin--none u-text--bold" href="/">mattc.</a>
        {# <nav class="c-navigation" id="menu">
          <ul class="e-list c-navigation__items">
              <li class="e-list__item e-list__item--a11y">
                  {% include '../a11y-text/a11y-text.njk' %}
              </li>
              <li class="e-list__item e-list__item--theme">
                  {% include '../theme-switcher/theme-switcher.njk' %}
              </li>
          </ul>
        </nav> #}
    </div>
</header>
