<section class="o-region">
  <div class="o-region__inner">
    <div class="e-box">
      <div class="c-footer">
        <h2 class="e-heading e-heading--h3">Hit me up on the socials</h2>
        <p>Feel free to get in touch, I have many channels that you can follow me on. Most active on Twitter & Medium.</p>

        <ul class="c-footer__socials">
          {% for link in navigation %}
            <li>
              <a
              href="{{link.href}}"
              {% if link.target === '_blank' %}
                  target="_blank"
                  rel="noreferrer"
              {% endif %}
            >
                {{link.text}}
              </a>
            </li>
          {% endfor %}
        </ul>

        <p>
          <a href="/" class="e-logo">mattc.</a>
        </p>

        <p>
        © 2021 mattc. All rights reserved.
      </p>
      </div>
    </div>
  </div>
</section>
