.c-blog-post h2,
.c-blog-post .e-heading--h2,
.c-blog-post h3,
.c-blog-post .e-heading--h3,
.c-blog-post h4,
.c-blog-post .e-heading--h4 {
  margin: var(--spacing-4-x) 0;
}

.c-blog-post__main {
  font-size: clamp(16px, 1.25 / 70 * 100vw, 20px);
}

@media (--md-viewport) {
  .c-blog-post {
    display: flex;
  }

  .c-blog-post > *:first-child {
    padding-right: var(--spacing-9-x);
    margin-bottom: calc(var(--spacing-6-x));
    width: calc(100% - 400px);
  }

  .c-blog-post > *:last-child {
    min-width: 400px;
  }
}
