/* About Me */

.c-about-me {
  --region-gutter-vertical: 80px;
}

@media (--md-max-viewport) {
  .c-about-me .c-about-me__main-heading {
    font-size: 1.4em;
  }
}

.c-about-me__image {
  filter: grayscale(100%);
}
