.c-about-me {
  display: flex;
  flex-wrap: wrap;
}

.c-about-me > * {
  flex-grow: 1;
  flex-basis: calc((30em - (100% - var(--spacing-6-x))) * 999);
}

.c-about-me > *:first-child {
  margin-bottom: calc(var(--spacing-6-x) / 2);
}

@media (--md-viewport) {
  .c-about-me > * {
    margin: calc(var(--spacing-6-x) / 2);
  }
}

.c-about-me > *:nth-child(1) {
  align-self: center;
}

.c-about-me > *:nth-child(2) {
  flex-grow: 1.5;
}
