/* Header Component */

.c-header {
  padding: 10px 0;
  width: 100%;
}

.c-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--region-gutter-horizontal);
}

@media (--md-max-viewport) {
  .c-header__inner {
    padding-bottom: 0;
  }
}
