/* footer */

.c-footer .e-text {
  display: inline-block;
  margin-bottom: 0;
}

.c-footer__grid {
  align-items: center;
}

.c-footer__links {
  justify-content: center;
  list-style: none;
  margin-left: 0;
}
