/* Card Component */

.c-card {
    padding: 10px 0;
}

.c-card__link {
    color: var(--card-color);
    border-color: var(--card-color);
}

.c-card__link:hover,
.c-card__link:focus,
.c-card__link:visited,
.c-card__link:active {
    color: var(--card-color);
    border-color: var(--card-color);
}
