---
pagination:
    data: contentful
    size: 1
    alias: post
permalink: "blog/{{ post.blogSlug }}/"
layout: layouts/base.njk
renderData:
    title: "{{ post.blogTitle }}"
    desc: "{{ post.blogShortDescription }}"
    pageImageUrl: "https://mattclaffey.co.uk/{{ post.thumbnail }}"
---

<div class="o-region">
  <div class="o-region__inner">
    <div class="c-blog-post">
      <article class="c-blog-post__main">
        <header>
          <h1 class="e-heading e-heading--h1 c-banner__title">{{ post.blogTitle }}</h1>
          <p class="e-text c-banner__text u-text--larger@md">
          Date Published: <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </p>
        </header>
        {{ post.blogContent | safe }}
        <p>
          <a class="c-button c-button--outline" href="{{ '/blog' | url }}">Back to blogs</a>
        </p>
      </article>
      <aside>
        {% include '../_includes/partials/svg/web-dev.njk' %}
        <br />
        <br />

        <div class="e-box">
          <h2 class="e-heading e-heading--h4">Written By</h2>
          <p>Matthew Claffey <a href="https://twitter.com/MattClaffey1" target="_blank" rel="noopener norefferer"><abbr title="Matt Claffey 1 is his twitter handle">@mattclaffey1</abbr></a></p>
          <p>
            Hi! I'm Matt, I specialise in in HTML5, CSS3, JavaScript/React and have experience working with .NET & PHP Platforms. I am currently working as a Software Engineer at Cinch, who are based in Manchester.
          </p>
        </div>
        <br />
        <h2 class="e-heading e-heading--h3">Other Posts</h2>
        <div class="c-blog-list c-blog-list--stacked">
          {% for allPosts in contentful %}
            {% if allPosts.blogTitle !== post.blogTitle %}
              <article>
                <div class="e-box">
                  <h3 class="e-heading e-heading--h4">{{ post.blogTitle }}</h3>
                  <p>
                    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                  </p>
                  <p>{{ allPosts.blogShortDescription }}</p>
                  <a href="/blog/{{ post.blogSlug }}" class="c-blog-list__link">
                    Read more
                    <span class="c-blog-list__link-text">
                      about {{ post.blogTitle }}
                    </span>
                  </a>
                </div>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      </aside>
    </div>
  </div>
</div>
