/*--------------------
    Colours
--------------------*/
* {
  transition: background-color 0.2s linear;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border: #e0e0e0;
  --color-pastal-pink: #fee8f5;
  --color-pastal-green: #eaf5fb;
  --color-pastal-blue: #e8eefe;
  --color-pastal-purple: #f4e8fe;
  --color-pastal-grey: #f6f0fc;
  --color-body-copy: #242a3a;
  --color-code-snippets: #24335a;
  --color-code-snippets-text: #ffffff;
  --color-body-bg: #ffffff;

  --base-region-bg: #1e1a69;
}
