/*--------------------
    Colours
--------------------*/

:root {
    --primary: #160647;
    --primary-light: #1b0758;
    --secondary: #7765e6;
    --secondary-light: #8773ff;
    --cta-green: #8773ff;
    --cta-green-hover: #8773ff;
    --white: #ffffff;
    --black: #000000;
    --keyline: #dddddd;
    --dark-keyline: #7765e6;
}
