.footer {
  margin: 0 auto;
  max-width: 60ch;
  text-align: center;
}

.footerSocials {
  list-style: none;
  padding-left: 0;
}

.footerSocials > * {
  display: inline-block;
}

.footerSocials > li {
  margin: var(--spacing-1-x) var(--spacing-3-x);
}

@media (min-width: 48.0625em) {
  .footerSocials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
