/* footer */

.c-footer .c-button {
  display: inline-block;
}

.c-footer .e-text {
  margin-bottom: 0;
}

.c-footer__grid {
  align-items: center;
}

.c-footer__links {
  list-style: none;
  margin-left: 0;
}

.c-footer__link,
.c-footer__link:focus,
.c-footer__link:active,
.c-footer__link:visited,
.c-footer__link:hover {
  color: var(--white);
  border-color: var(--white);
  margin: 0 5px;
}
