:root {
  --base-font-family: 'Avenir Next', 'Helvectica Neue', 'Arial', sans-serif;
  --base-font-size: clamp(18px, 1.25 / 70 * 100vw, 22px);
  --base-font-size-large: clamp(24px, 1.25 / 70 * 100vw, 28px);
  --base-font-color: var(--color-body-copy);
  --base-line-height-body: 1.5;
  --base-font-weight: 300;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--color-body-bg);
  color: var(--base-font-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height-body);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

abbr[title] {
  font-weight: 600;
  text-decoration: underline;
}

figure {
  margin: 0;
}

strong {
  font-weight: 700;
}
