pre {
  background-color: var(--color-code-snippets);
  color: var(--color-code-snippets-text);
  font-size: 1.4rem;
  margin-bottom: 0;
  overflow: auto;
  padding: var(--spacing-4-x) var(--spacing-4-x);
}

pre + pre {
  margin: 0;
  padding-bottom: var(--spacing-2-x);
  padding-top: 0;
}
