.banner {
  --region-background: var(--base-region-bg);
  --region-color: var(--color-white);
}

.bannerTitle {
  margin-bottom: var(--spacing-2-x);
  max-width: 20ch;
}

.c-bannerText {
  font-size: var(--base-font-size-large);
  margin-top: 0;
  max-width: 40ch;
}
