---
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
title: 😕 Opps, looks like you got lost
permalink: 404.html
---

<section class="o-region c-banner c-banner--tall">
    <div class="o-region__inner">
        <h1 class="e-heading e-heading--h1 c-banner__title">😕 Opps, looks like you got lost</h1>
        <p class="e-text c-banner__text u-text--larger@md">
            Don't worry about it! Happens to the best of us, let's get you back on track.
        </p>
        <a class="c-button c-button--primary c-button--large" href="/">Return Home</a>
    </div>
</section>
