---
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
title: ✍🏻 I like to share what I learn to help others
desc: I blog on Medium about all the things I learn and I feel that it is so important to share the knowledge with the world about the things I am passionate about.
---

<section class="o-region c-banner" style="--region-bg:var(--banner-bg);--region-text-color:var(--banner-text)">
  <div class="o-region__inner">
    <h1 class="e-heading e-heading--h1 c-banner__title">✍🏻 I like to share what I learn to help others</h1>
    <p class="e-text c-banner__text">
      I blog on Medium about all the things I learn and I feel that it is so important to share the knowledge with the world about the things I am passionate about.
    </p>
  </div>
</section>
<section class="o-region">
  <div class="o-region__inner">
  <div class="c-blog-list">
      {% for post in blog.posts %}
        <article>
          <div class="e-box">
            <h3 class="e-heading e-heading--h4">{{ post.title }}</h3>
            <p>
              <time datetime="{{ post.pubDate | htmlDateString }}">{{ post.pubDate | readableDate }}</time>
            </p>
            {{ post.shortDescription | safe }}
            <a href="/blog/{{ post.title | slug }}" class="c-blog-list__link">
              Read more
              <span class="c-blog-list__link-text">
                about
                {% if post.title %}{{ post.title }}
                {% else %}
                  <code>{{ post.link }}</code>
                {% endif %}
              </span>
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
