---
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
title: ✍🏻 I like to share what I learn to help others
desc: I blog on Medium about all the things I learn and I feel that it is so important to share the knowledge with the world about the things I am passionate about.
---

<section class="o-region c-banner" style="--region-bg:var(--banner-bg);--region-text-color:var(--banner-text)">
  <div class="o-region__inner">
    <h1 class="e-heading e-heading--h1 c-banner__title c-banner__title--long">✍🏻 I like to share what I learn to help others</h1>
    <p class="e-text c-banner__text c-banner__text--long">
      I blog on Medium about all the things I learn and I feel that it is so important to share the knowledge with the world about the things I am passionate about.
    </p>
  </div>
</section>
<section class="o-region">
  <div class="o-region__inner">
    <div class="c-blog-list">
    {% for allPosts in contentful %}
      <article>
        <div class="e-box">
          <h3 class="e-heading e-heading--h4">{{ post.blogTitle }}</h3>
          <p>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </p>
          {{ post.shortDescription | safe }}
          <a href="/blog/{{ post.blogSlug }}" class="c-blog-list__link">
            Read more
            <span class="c-blog-list__link-text">
              about {{ post.blogTitle }}
            </span>
          </a>
        </div>
      </article>
    {% endfor %}
    </div>
  </div>
</section>
