---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "mattc. - blog posts about frontend development",
    "subtitle": "👨🏻‍💻 Frontend Engineer (sometimes UI Designer), based in Manchester.",
    "url": "https://mattclaffey.co.uk/",
    "feedUrl": "https://mattclaffey.co.uk/feed.xml",
    "author": {
      "name": "Matthew Claffey",
      "email": "mattclaffey93@gmail.com"
    }
  }
}
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ contentful | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for page in contentful %}
    {% set absolutePostUrl %}/blog/{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
      <title>{{ page.blogTitle }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ page.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.blogContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
  {%- endfor %}
</feed>
