---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
metadata:
  title: "mattc. - blog posts about frontend development"
  subtitle: "👨🏻‍💻 Frontend Engineer (sometimes UI Designer), based in Manchester."
  url: "https://mattclaffey.co.uk/"
  feedUrl: "https://mattclaffey.co.uk/feed.xml"
  author:
    name: "Matthew Claffey"
    email: "mattclaffey93@gmail.com"
---

<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.subtitle }}</description>
    <link>{{ metadata.url }}/</link>
    <language>en-us</language>
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml"/>
    {%- for page in contentful %}
      <item>
        <title>{{ page.blogTitle }}</title>
        <link>{{ metadata.url }}blog/{{ page.blogSlug }}/</link>
        <pubDate>{{ page.updatedAtUTC }}</pubDate>
        <guid>{{ metadata.feedUrl }}blog/{{ page.blogSlug }}/</guid>
        <description>{{ page.blogContent }}</description>
      </item>
    {%- endfor %}
  </channel>
</rss>
