---
title: "Matt Claffey - Manchester Based - Frontend Developer"
description: "Hi I'm Matt, I have been a frontend developer for around 6 years, I've done work for multiple agencies, consulted for clients, and collaborated with talented people to create digital products."
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
---

{% include "./_includes/partials/banner/banner.njk" %}
{% include "./_includes/partials/about-me/about-me.njk" %}
{% include "./_includes/partials/post-list/post-list.njk" %}
{% include "./_includes/partials/companies/companies.njk" %}

