---
title: "Matt Claffey - Manchester Based - Frontend Developer"
description: "Hi I'm Matt, I have been a frontend developer for around 6 years, I've done work for multiple agencies, consulted for clients, and collaborated with talented people to create digital products."
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
---

<section class="o-region c-banner">
  <div class="o-region__inner">
    <h1 class="e-heading e-heading--h1 c-banner__title">Matthew Claffey</h1>
    <p class="e-text c-banner__text u-text--super@md">
      👨🏻‍💻 Frontend Engineer (sometimes UI Designer), based in Manchester.
    </p>
  </div>
</section>

<section class="o-region c-about-me" id="section--about">
  <div class="o-region__inner">

    <h2 class="e-heading e-heading--h2 c-about-me__main-heading">
      About Me
    </h2>
    <p class="e-text u-text--larger">
      Hi! I'm Matt, I specialise in in HTML5, CSS3, JavaScript/React and have experience working with .NET & PHP Platforms. I am currently working as a Software Engineer at Cinch, who are based in Manchester.
    </p>

    <p class="e-text u-text--larger">
      I have over 6 years professional experience in front-end development working with multiple agencies & in house companies — helping teams collaborate, work better together, streamline workflow, and deliver quality websites and applications.
    </p>

  </div>
</section>

<section class="o-region">
  <div class="o-region__inner o-region__inner--thin">
    <h2 class="e-heading e-heading--h3 u-text--center">✍🏻 I like to share what I learn to help others</h2>
    <p class="e-text u-text--larger u-text--center">
      I blog on Medium about all the things I learn and I feel that it is so important to share the knowledge with the world about the things I am passionate about.
    </p>
    <ol class="c-post-list o-grid">
      {% for post in blog.latestPosts %}
        <li class="c-post-list__item o-grid__item o-grid__item--12/12 o-grid__item--6/12@md">
          <a href="/blog/{{ post.title | slug }}" class="c-post-list__link">
            <span class="u-visually-hidden">Read more about {% if post.title %}{{ post.title }}
              {% else %}
                <code>{{ post.link }}</code>
              {% endif %}</span></a>
          <div class="c-post-list__item-container">
            <h3 class="e-heading e-heading--h5">{{ post.title }}</h3>
            <p class="c-post-list__date">
              <time datetime="{{ post.pubDate | htmlDateString }}" class="u-text--smaller">{{ post.pubDate | readableDate }}</time>
            </p>
            <div class="c-post-list__short-description">{{ post.shortDescription | safe }}</div>
            <span class="e-link" aria-hidden="true">Read more</span>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
