---
pageImageUrl: "https://mattclaffey.co.uk/thumbnail.jpg"
layout: layouts/base.njk
title: 📁 Portfolio
desc: I have spent 6 years of working in the digital industry where I have spent my time on a wide range of projects that have different tech stacks.
---

<section class="o-region c-banner" style="--region-bg:var(--banner-bg);--region-text-color:var(--banner-text)">
    <div class="o-region__inner">
        <h1 class="e-heading e-heading--h1 c-banner__title">📁 Portfolio</h1>
        <p class="e-text c-banner__text u-text--larger@md">
            I have spent 6 years of working in the digital industry where I have spent my time on a wide range of projects that have different tech stacks.
        </p>
    </div>
</section>

<section class="o-region">
    <div class="o-region__inner">
        <ul class="c-companies e-list" reversed>
            {% for comp in company.companies %}
            <li class="c-companies__company e-list__item">
                <div class="c-companies__company-image-container">
                    {% include './_includes/partials/comp-logos/comp-logos.njk' %}
                </div>
                <div class="c-companies__company-content-container">
                    <h2 class="e-heading e-heading--h4">
                        {{comp.companyName}}
                    </h2>
                    <p class="e-text">
                        From
                        <time datetime="{{ comp.startDate | htmlDateString }}" class="u-text--smaller">
                            {{ comp.startDate | readableDate }}
                        </time>
                        - to
                        {% if comp.src === '/images/cinch-logo.svg' %}
                            current
                        {% else %}
                            <time datetime="{{ comp.endDate | htmlDateString }}" class="u-text--smaller">
                                {{ comp.endDate | readableDate }}
                            </time>
                        {% endif %}
                    </p>
                    <div class="e-text u-text--larger@md">
                        {{comp.content | safe}}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
